
node_modules/

.git/
.expo/

dist/
web-build/
expo-env.d.ts

*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.metro-health-check*

npm-debug.*
yarn-debug.*
yarn-error.*

.DS_Store
*.pem

.env*.local

*.tsbuildinfo

.natively/

android/
ios/

netlify.toml
.netlify/

# Package manager files
pnpm-lock.yaml
.pnpm-store/
.pnpm-debug.log
pnpm-workspace.yaml
.pnpm/

yarn.lock
.yarn/
.yarnrc
.yarnrc.yml
yarn-error.log

bun.lockb
.bun/

# Keep npm lock file
!package-lock.json
